/*:root{
color: --nuwhite hsl(0, 0%, 100%);
color: --slate300 hsl(212, 45%, 89%);
color: --slate500 hsl(216, 15%, 48%);
color: --slate900 hsl(218, 44%, 22%);
}*/

body{
    display: flex;
    width: 20%;
    background-color: red;
    /*background: (--slate300);*/
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100px;

}

body p{
   font-size: 15px; 
}
